@font-face {
    font-family: 'Heritage Sans';
    src: url('HeritageSans.woff2') format('woff2'),
        url('HeritageSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

